<h1>글 써</h1>
<%= render 'form' %>

<!-- 정석 -->

<!-- <form action="/posts" method="post">
  <input type="text" name="title" /> <br />
  <textarea name="content"></textarea> <br />
  <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">
  <input type="submit" />
</form> -->

<!-- =============================================================================== -->
<!-- form_tag -->

<%# form_tag('/posts', method: 'post') do %>
<!-- method: 'post'로 하면
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"> => 이부분은 자동으로 생성해준다. -->
  <%# text_field_tag :title %>
  <%# text_area_tag :content %>
  <%# submit_tag "Submit" %>
<%# end %>

<!-- <%= form_for @post do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %> -->
